{% extends 'main/layout.html' %}

{% block content %}
<div class="main-banner">
    <div class="main-banner-wrapper">
        <header class="header">
            <div class="header-wrapper">
                <div class="header-flex">
                    <div class="header-nav-left">
                        <div class="header-nav-item">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <a href="" class="header-link">Өнімдер</a>
                            <div class="submenu">
                                <a>Ұн</a>
                                <a>Макарон</a>
                                <a>Жармалар</a>
                            </div>
                        </div>
                        <div class="header-nav-item">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <a href="" class="header-link">Рецепттер</a>
                        </div>
                        <div class="header-nav-item">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <a href="" class="header-link">Тағы</a>
                        </div>
                    </div>
                   <a href="./index.html"><img class="header-logo"src="https://cesna.kz/site/images/logo-cesna.png"></img></a>
                    <div class="header-nav-right">
                        <!-- <i class="fa fa-language" aria-hidden="true"></i> -->
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <!-- <i class="fa fa-globe" aria-hidden="true"></i> -->
                       <div class="nav-sing-in">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <a href="" class="header-link sign-in">Кіру</a>
                       </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="pop_up">
            <div class="sing-in-wrapper">
                <p class="sign-in-title">Жеке кабинет</p>
                <form method="post">
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Құпия сөз">
                    <p class="forget_password">Құпия сөзді ұмыттыңыз ба?</p>
                    <button type="submit" class="sign-in-btn">Кіру</button>
                    <p class="no-account">Тіркелгі жоқ па?</p>
                    <button class="registration-btn">Тіркеліңіз </button>
                </form>
                <div class="pop_up_close" id="pop_up_close">&#10006</div>
            </div>
        </div>
       <div class="croup-banner">
        <div class="croup-banner-cover"></div>
        <div class="croup-banner-text">
            <h1>ЦЕСНА ® Жармасы</h1>
            <span>Бұл дәстүрлі қаптамадағы жоғары сапалы, экологиялық таза өнім.</span>
            <span>ЦЕСНА ® жармасы-көптеген тағамдарды дайындауға арналған керемет негіз!</span>
        </div>
    </div>
    </div>
</div>
<main>
    <div class="croups-wrapper">
        <section id="croups">
            <h2>ЦЕСНА ® жармасы-көптеген тағамдарды дайындауға арналған керемет негіз!</h2>
            <p class="croups-main-description">Итальяндық рисотто, ағылшын сұлы жармасы, өзбек палауы, қазақ женті немесе орыс грек халқы оларды не біріктіреді? Әрине, негізгі ингредиент - Жарма!</p>
            <div class="croups-flex">
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/Group_7_%283%29.png" alt="">
                    <p>Ұзын дәнді күріш «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/Group_7_%281%29.png" alt="">
                    <p>Дөңгелек дәнді күріш «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/Group_7_%282%29.png" alt="">
                    <p>Қарақұмық жармасы «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/132.jpg" alt="">
                    <p>Бұршақ «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/133.jpg" alt="">
                    <p>Бидай жармасы «ЦЕСНА®»</p>
                </div>
            </div>
            <div class="croups-flex">
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/133.jpg" alt="">
                    <p>Cұлы жармасы «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/137.jpg" alt="">
                    <p>Тары «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/138.jpg" alt="">
                    <p>Арпа жармасы «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/139.jpg" alt="">
                    <p>Ұнтақ жарма «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/140.jpg" alt="">
                    <p>Інжу арпа жармасы «ЦЕСНА®»</p>
                </div>
            </div>
            <div class="croups-flex third">
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/141.jpg" alt="">
                    <p>Жүгері жармасы «ЦЕСНА®»</p>
                </div>
                <div class="croups-item">
                    <img src="https://cesna.kz/storage/products/muka-krupy/142.jpg" alt="">
                    <p>Қызыл бұршақ «ЦЕСНА®»</p>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}